<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Call Threat Identification</title>
</head>
<body style="background-color: #333333;">
<div>
       <h1 style="color: #fafafa;text-align:center;background-color: #5f788a;">
       Call Threat Identification
       </h1>
</div>
   <h1 style="color: #fafafa;text-align:center;">Upload an Audio File</h1>
   <h3 style="color: #fafafa;text-align:center;">Allowed Extension: .wav(upto 1MB)</h3>
    <form method=post enctype=multipart/form-data>
    <div style="color: #fafafa;text-align:center;">
      <input type=file name=file>
      <input type=submit value=Upload>
    </div>
    </form>

</body>
</html>
